# Arquivos de compilação
**/*.o
**/*.out

# Arquivos executáveis
**/*.exe
**/*.out

# Arquivos de dependência
**/*.d

# Pasta de configuração do Visual Studio Code
.vscode/

# Ignorar arquivos com nomes "atividade_N"
**/atividade_*
!**/atividade_*.c